<div id="colorlib-page">
  <div id="colorlib-main">
    <div class="colorlib-blog" style="padding-top: 50px">
      <iframe src="https://www.google.com/maps/d/embed?mid=1_ilgwk72A5kCPDKkkBQFtGQBiu8&hl=en" width=100% height="300" allowfullscreen></iframe>
      <div class="colorlib-narrow-content" style="padding-top: 30px">
        <div class="row">
          <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
            <h2 class="colorlib-heading">情報</h2>
            <p style="margin-top: -50px">私たちは鳥が好きな人だけです。そのため、このウェブサイトを開発して他の鳥好きの人と繋がって一緒に楽しみましょう。ぜひこのウェブサイトを使ってみてくださいませ。</p>
            <%= image_tag "birds-of-paradise.jpg", :height => '220px' %>
          </div>
          <div class="col-md-8 animate-box" data-animate-effect="fadeInRight" style="margin-top: 70px">
            <div class="fancy-collapse-panel">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">店の情報</a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-6">
                          <p>私たちは「鳥好き店」でございます。チームメンバーがハノイ工科大学から来ました。これは最初のプロジェクトでございます。</p>
                        </div>
                        <div class="col-md-6">
                          <p>私たちは鳥が好きな人だけです。そのため、このウェブサイトを開発して他の鳥好きの人と繋がって一緒に楽しみましょう。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">連絡先</a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <p>以下の連絡先に問い合わしてください。</p>
                      <ul>
                        <li><b>住所</b>　　 ：1 DaiCoViet町、HaiBaTrung区、Hanoi市 </li>
                        <li><b>電話番号</b> ： (+84)3869 4242</li>
                        <li><b>メール</b>　 ：hust_edu@gmail.com</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">オーナーメンバー</a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <ul>
                        <li>チュウ．ミン．ドゥック</li>
                        <li>ホアン・ヴァン・ハイ</li>
                        <li>グェン・ヴァン・ハン)</li>
                        <li>ファム・ザー・クォン</li>
                        <li>グエン・ヴィエト・トアン</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>